<div class="d-lg-flex justify-content-between flex-wrap" xmlns="http://www.w3.org/1999/html">

<div  *ngFor="let recipe of recipes" class="card" style="width: 18rem; padding: 5px;margin-right: 5px; margin-top: 10px;">
  <div class="card-body">
    <h5 style="text-transform: capitalize" class="card-title">{{recipe.title}}</h5>
    <h6 class="card-text">Ingredients List</h6>
    <h6 class="card-text">{{recipe.ingredients}}</h6>
    <a href="#" class="card-link">Save Recipe</a>
    <button (click)="deleteRecipe(recipe)" class="card-link">Delete Recipe</button>
  </div>
</div>
</div>
